<% provide(:title, "Submit") %>


<h2>Submit a day:</h2>

<%= form_for @day, id: "submitform" do |f| %>
  <%= f.label :what %>
  <%= f.text_field :what %> <br />

  <%= f.label "where filename" %>
  <%= f.text_field :where %> <br />

  <%= f.label :when %>
  <%= f.text_field :when %> <br />
  <%= f.submit "Create" %>
<% end %>

<div data-widget-host="habitat" id="wt_embed">
  <script type="text/props">
    {
      "wtEmbedKey": "ad1e5cf3-4507-4d5f-bad8-93254f7a671b",
      "wtEmbedOutput": ".wt_embed_output",
      "wtEmbedLanguage": "en"
    }
  </script>
</div>
<script async src="https://prod-embed-cdn.wetransfer.net/v1/latest.js"></script>
<!--
  The next input element will hold the transfer link. For testing purposes, you
  could change the type attribute to "text", instead of "hidden".
-->
<input type="hidden" name="wt_embed_output" class="wt_embed_output" />

